name: Terraform - fmt/validate/plan

on:
  pull_request:
    paths:
      - "terraform/**"
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan (no backend)
        env:
          TF_VAR_key_name: "placeholder"
          TF_VAR_admin_cidr: "1.2.3.4/32"
        run: terraform plan -no-color
